<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_commit_after">
        <observer name="Humcommerce_FixModuleConflict::sales_order_save_commit_after" instance="Humcommerce\FixModuleConflict\Observer\OrderPlaceAfter" />
    </event>
</config>