<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="Humcommerce_StockStatusFix::sales_order_creditmemo_save_after" instance="Humcommerce\StockStatusFix\Observer\BackToStock"/>
    </event>
</config>
