<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ImageOptimizer\Model\ImageProcessor\Resolution"
                type="Kaafmeem\ImageOptimizerFix\Model\ImageProcessor\Resolution"/>
    <preference for="Amasty\ImageOptimizer\Model\Command\Cwebp"
                type="Kaafmeem\ImageOptimizerFix\Model\Command\Cwebp"/>
</config>
